@model IEnumerable<Star_K.DBApi.Web.Models.LoggingViewModel>


@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
    @foreach (var item in Model)
    {


        <div class="container-fluid">
                <table class="table table-striped table-bordered table-hover">
                    <thead >
                        <tr>
                            <td class=" col-xs-2"><strong>Log ID</strong></td>
                            <td class=" col-xs-2"><strong>Date</strong></td>
                            <td class=" col-lg-10"><strong>Description</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@item.idLog</td>
                            <td>@item.Date</td>
                            <td>@item.transaction</td>
                            <td>@Request.RawUrl</td>


                        </tr>
                    </tbody>
                </table>
        </div>
    } 

    @*<div>
        @{Html.RenderAction("Date", "Edit", new {id=item.Date});
    </div>*@
    @*<div class=" container-fluid">
        <div class="col-xs-3">
            <h1>Log Id</h1>
            <h4>@item.idLog</h4>
        </div>
        
        <div class="col-xs-3">
            <h1>Date</h1>
            <h4>@item.Date</h4>
        </div>
        
        <div class="col-xs-3">
            <h1>Description</h1>
            <h4>@item.note</h4>
        </div>



    </div>*@








